<p id="notice"><%= notice %></p>

<section class="section">
  <div class="document container">
    <div class="with-aside-button">
      <div class="button-container">
        <a href="<%= edit_document_path(@document) %>"
          class="button is-outlined is-round">
          <i class="gg-pen"></i>
        </a>
      </div>
      <div class="content-container">
        <h1 class="title is-3 is-document-title"><%= @document.title %></h1>
        <h2 class="subtitle is-5 has-text-grey"><span class="tag is-link is-dark"><%= @document.note %></span></h2>
      </div>
    </div>

    <hr class="mt-2 mb-5">
    <div class="has-text-right">
      <%= link_to "Show Markdown", document_markdown_path(@document) %>
    </div>

    <%= turbo_frame_tag :fragments do %>

      <% @fragments.each do |fragment| %>
        <%= render fragment %>
      <% end %>

    <% end %>

    <!-- Links -->
    <div class="mt-6">
      <hr>
      <div class="field is-grouped">
        <div class="control is-expanded">
          <%= link_to "Back to Documents", documents_path %>
        </div>
      </div>

    </div>

  </div>

</section>
