<p id="notice"><%= notice %></p>

<section class="section">
  <div class="document container">
    <div class="with-aside-button">
      <div class="button-container">
        <a href="<%= edit_document_path(@document) %>"
          class="button is-outlined is-round">
          <i class="gg-pen"></i>
        </a>
      </div>
      <div class="content-container">
        <h2 class="subtitle is-5 has-text-grey mb-6"><span class="tag is-link is-dark"><%= @document.note %></span></h2>
        <h1 class="title is-3 is-document-title mb-3"><%= @document.title %></h1>
      </div>
    </div>

    <hr>

    <%= turbo_frame_tag :fragments do %>
      <div class="fragments-container" data-controller="sortable">
        <%= render @fragments %>
      </div>
    <% end %>

    <!-- Links -->
    <div class="mt-6">
      <hr>
      <div class="field is-grouped">
        <div class="control is-expanded">
          <%= link_to "Back to Documents", documents_path %>
        </div>
        <div class="control">
          <%= link_to "Export Markdown", document_markdown_path(@document) %>
        </div>
      </div>

    </div>

  </div>

</section>
