<p id="notice"><%= notice %></p>

<section class="section">

  <div class="document container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to("Documents", root_path) %></li>
        <li class="is-active"><a href="#" aria-current="page"><%= @document.title %></a></li>
      </ul>
    </nav>

    <div class="with-aside-button mb-4">
      <div class="button-container">
        <a href="<%= edit_document_path(@document) %>"
          class="button is-outlined is-round">
          <i class="gg-pen"></i>
        </a>
      </div>
      <div class="content-container">

        <div class="level mb-0">
          <div class="level-left">
            <div class="level-item">
              <h1 class="title is-3 is-document-title"><%= @document.title %></h1>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <div class="field is-grouped">
                <div class="control">
                  <%= link_to document_markdown_path(@document) do %>
                    <i class="gg-export"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= turbo_frame_tag :fragments do %>
      <div class="fragments-container" data-controller="sortable">
        <%= render @fragments %>
      </div>
    <% end %>


  </div>

</section>
