<!DOCTYPE html>
<html>
  <head>
    <title>Bloggy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <style><%= Rouge::Themes::MonokaiSublime.render(scope: 'pre') %></style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
